.table {
  font-size: 12px;
}

.table_div {
  border: 1px solid black;
  width: 40em;
  height: 15em;
  overflow-x: scroll;
  overflow-y: scroll;
  margin-bottom: 2.5em;
}

#outter_userList_div {
  text-align: center;
  width: 40em;
  margin-right: 2em;
}

/*  Sites Table */
#outter_siteList_div {
  text-align: center;
  width: 40em;
}
#list_div {
  position: relative;
  top: 3em;
  display: flex;
  justify-content: center;
}

/* Forms Styling */

#forms_div {
  display: flex;
  justify-content: center;
}
#user_form {
  border: 1px solid black;
  margin-right: 3em;
}

#site_form {
  border: 1px solid black;
  /* text-align: center;
  width: 35em; */
}
.entity_form {
  text-align: left;
  width: 36em;
  padding: 1em;
}
#user_btn {
  position: relative;
  left: 20em;
  bottom: 1em;
}
#site_btn {
  position: relative;
  left: 20em;
  bottom: 1em;
}
.heading_text {
  position: relative;
  left: 5em;
  top: 1em;
}

.placeholder {
  padding: 1%;
}
